body {
    /*background-image: url("../resources/images/mfk_logo_flat.png");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: .3;*/

    font-size: 0;
}

.center {
    display: block;
    margin: auto;
    width: 100%;
}

.image-container > img {
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.logo-container {
    position: absolute;
    width: 20%;
    opacity: .4;
    top: 1%;
    text-align: center;
}

.logo {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    opacity:.5;
    width: 20%;
    top: 1%;
}

@media (orientation: landscape) {
    .vertical.container {
        display: none !important;
    }

    .vertical > .grafana {
        margin: 10% auto 10% 10%;
    }

    .vertical > .node {
        margin: 10% 10% auto 10%;
    }

    .image-container {
        display: inline-block;
        width: 45%;
        height: 100%;
    }

    .separator {
        width: 10%;
        height: 100%;
        display: inline-block;
    }

    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media (orientation: portrait) {
    .horizontal.container {
        display: none !important;
    }

    .horizontal > .grafana {
        margin: 10% 10% 10% auto
    }

    .horizontal > .node {
        margin: auto 10% 10% 10%;
    }

    .image-container {
        width: 100%;
        height: 45%
    }

    .separator {
        width: 100%;
        height: 10%;
    }

    .container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}



