.graphs-title {
    margin: 30px auto;
}

#graphs-container {
    height: 60%;
    width: 80%;
}


#grafana-iframe {
    width: 100%;
    height: 90%;
}

@media (orientation: landscape) {
    .divider {
        border-left:1px solid gray;
    }
}

@media (orientation: portrait) {
    .divider {
        border-top:1px solid gray;
    }
}
@media(max-width:545px) {
    #feed-table-lg {
        display: none;
    }
}

@media(min-width:544px) {
    #feed-table-sm {
        display: none;
    }
}


